.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.header-ul{
    display: flex;
    width: 200px;
}
.header-ul li {
    flex-grow: 1;
    text-align: center;
}
.header-ul>li img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}