.login-form {
    width: 320px;
    height: 340px;
    padding: 36px;
    max-width: 320px;
    background: #fff;
}
.login-form-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #f3f3f3;
 }
.login-form-forgot {
    float: contour;
}
.login-form-button {
    width: 100%;
}