.spec_value_form {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    max-width: 256px;
}
.spec_value_form_item {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    max-width: 256px;
}
.spec_value_col {
    height: 30px;
}

.spec_value_row {
    height: 30px;
}

.spec_value_input {
    width: 100%;
    max-width: 256px;
}